.nvbar body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
   background-color: white;
   font-family: 'Inconsolata', Helvetica;
}
.nvbar ,body .main234, .menu234 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main234 {
    position: relative;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 0px;
    overflow: hidden;
  
}
.menu234 {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}
.main234 input:checked ~ .menu234 {
    width: 500px;
}
.menu234 li {
    list-style: none;
    margin: 0 10px;
}
.menu234 li a {
    text-decoration: none;
    color: #666;
    text-transform: none  ;
    font-weight: 600;
    transition: 0.5s;
}
.menu234 li a:hover {
    color: #161919;
}
.main234 input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}
.main234 span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}
.main234 input:checked ~ span {
    background-color: #666;
}
.main234 span:nth-child(2) {
    transform: translateY(-8px);
}
.main234 input:checked ~ span:nth-child(2) {
    transform: translateY(0);
}
.main234 span:nth-child(3) {
    transform: translateY(8px);
}
.main234 input:checked ~ span:nth-child(3) {
    transform: translateY(0);
}
.main234 input:checked ~ span:nth-child(4) {
    display: none;
}