.main{
	max-width: 1000px;
	margin: auto ;
	/*background:#f2f2f7;*/
}

body{
	margin:0;
	padding:0;
	font-family: 'Inconsolata', Helvetica;
	background:white;  /*#f2f2f7*/
	-webkit-font-smoothing:antialiased;
}

.container{
	padding: 1em;
	column-count:4;
}
.container1{

	column-count:1;
}

.container .box {
	width :100%;
	margin:0 0 1em;
	padding:0px;
	background: #f2f2f7;
	break-inside: avoid;
	box-sizing: border-box;
	display:inline-block;
	
}

.container1 .box {
	width :100%;
	margin:0 0 0.5em;
	padding:0px;
	background: #f2f2f7;
	break-inside: avoid;
	box-sizing: border-box;
	display:inline-block;
	
}

.k8-1-video {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
}

.video-container2 {
    position: relative;
    overflow: hidden;
}

.video-poster {
    transition: opacity 0.5s ease;
}

.k8-5-video {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
}

.k8-5-video.playing {
    opacity: 1;
}

.k8-5-video.ended {
    opacity: 0;
}

#loading_screen{
	position:absolute;
	width: 100px;
	height:100px;
	top:40%;
	left:45%;
	z-index:1;
	border: 10px solid #2c2c2e ;
	border-top: 10px solid white;
	border-radius: 50%;
    animation: rotation 2s ease  infinite;
}

@keyframes rotation{
	0%{transition: rotate (0deg);}
	100%{transform: rotate(360deg);}
}

@-webkit-keyframes rotation{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate (360deg);}
}

#content_page{
	position:relative;
	animation-name:animatecontent;
	animation-duration: 2s;
}

@keyframes animatecontent{

	from{bottom:-100px; opacity:0;}
	to{bottom:0; opacity:1;}
}

@-webkit-keyframes animatecontent{
	from{bottom:-100px; opacity:0;}
	to{bottom:0; opacity:1;}
}

	.container .box .COM_TAG { 

	position:absolute; 
	height: 50px; 
	width:50px; 
	z-index: 800; 
	margin-left:10px; 
	margin-top:10px;

 }

 
 	.container .box .COM_TAG:hover img { 

		transform: scale(1.2);
		opacity:1;
		cursor:pointer;
		transition:transform 0.75s;

 }

   .container .box .COM_TAG2 { 

	position:absolute; 
	height: 50px; 
	width:50px; 
	z-index: 800; 
	margin-left:10px; 
	margin-top:60px;

 }

 .container .box .COM_TAG2:hover img { 

		transform: scale(1.2);
		opacity:1;
		cursor:pointer;
		transition:transform 0.75s;

 }

	.container .box .imgbox  {
		position:relative;
		overflow:hidden;

		background: white;
		/*border-radius: 50px;*/
	}


	.container1 .box .imgbox  {
		position:relative;
		overflow:hidden;
		background: white;
		
	}

	.container .box .imgbox img{
		max-width:100%;
		transition:transform 0.75s;
        margin-bottom:-.26em;	
	}

	.container1 .box .imgbox img{
		max-width:100%;
		transition:transform 0.75s;
      	
	}

	.container .box:hover .imgbox img{
		transform: scale(1.2);
		opacity:0.75;
		cursor:pointer;
	}
		
	.container1 .box:hover .imgbox img{
		transform: scale(2.2);

	}

	.buttoncontainer{
		padding: 1em;
		text-align: center; 
		margin-top: auto; 
	}

	.btn{
		border: none;
		background:none;
		padding:10px 20px;
		font-size: 20px;
		font-family: 'Inconsolata', Helvetica;
		cursor:pointer;
		margin:10px;
		outline: 0 none;

	}


	.btn1, .btn2, .btn3, .btn4 {
		color:#2c2c2e;
		transition: 0.3s;
	}

	.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover{
		opacity: 0.5;
	}

	.buttoncontainer2{
		padding: 1em;
		text-align: center; 
		margin-top: auto; 
	}

	.btn29{
		border: 20px;
		background:#f2f2f7 ;
		padding:10px 10px;
		border-radius: 10px;
		font-size: 15px;
		font-family: 'Inconsolata', Helvetica;
		cursor:pointer;
		margin:10px;
		outline: 0 none;
	}


	.btn12, .btn22, .btn32, .btn42 {
		color:#2c2c2e;
		transition: 0.3s;
	}

	.btn12:hover, .btn22:hover, .btn32:hover, .btn42:hover{
		opacity: 0.5;
		border-radius: 30px;
	}



	a{

		text-decoration: none;

	}

	h3{
		
	  font-family: 'Inconsolata', Helvetica;
		padding-top: 10px;
		padding-right:0.6em;
		padding-left:0.6em;
		padding-bottom: 0px;
		font-size: 20px;
		font-weight: bold;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: left;
		color: white; 
		background:#2c2c2e;
		cursor:pointer;
	}

	h4{
		padding-top: 3px;
		padding-bottom: 10px;
	    font-size: 15px;
		font-weight:normal;
		padding-right:0.8em;
		padding-left:0.8em;
		margin-top: 2px;
		margin-bottom: 0px;
		text-align: left;
		color: white; 
		background:#2c2c2e;
		cursor:pointer;
		margin-block-start: 0px;
		margin-block-end: 4px;
		color: white; 
		cursor:pointer;
	}


	p{
		font-size: 12px;
		text-align: justify;
		margin-block-start: 1em;
		margin-block-end: 1em;
	}

	.p1{
		font-size: 12px;
		text-align: left;
		margin-right: 1em;
		margin-left: 1em;
		margin-block-start: 1em;
		margin-block-end: 1em;
	}

	h1{
		width:25%;
		margin-bottom:0px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		transition:transform 0.75s;
	}

	h1:hover{

		transform: scale(1.1);
	}

	img{
		width:100%;
		margin-bottom:1px;
		/*border-radius: 5px;*/
	}

	.contact-form{
		margin:0px;
		padding:0px;
		text-align: center;
		font-family: 'Inconsolata', Helvetica;
	}

	form{
		margin-top:50px;
		margin-bottom:50px;
		transition:all 4s ease-in-out;
	}
	.form-control{
		width:600px;
		background:transparent;
		border:none;
		outline:none;
		border-bottom:1px solid gray;
		color:black;
		font-size:18px;
		margin-bottom:16px;
	}

	input{
		height:45px;
	}

	

	form .submit{
		background:white;
		border-color:transparent;
		color:black;
		font-size:20px;
		font-weight:bold;
		letter-spacing:2px;
		height:50px;
		margin-top:20px;
		transition: 0.3s;
	}

	form .submit:hover{
		opacity: 0.5;
		transform:scale(1.2);
		cursor:pointer;
	}

	#myImage {
        transition: 0.7s;
        opacity:0.0;
		position:absolute;
		margin:0;
		width:30%;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%)
		
	}

	#myImage:hover{
		overflow:hidden;
		opacity:1;
		width:50%;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%)
	
	}

	@media(max-width:800px){
		.container{
			column-count:3;
		}
	}

	@media(max-width:600px){
		.container{
			column-count:2;
		}
	}

	@media(max-width:400px){
		.container{
			column-count:1;
		}
	}

	.fa {
  padding: 20px;
  font-size: 30px;
  width: 95%;
  text-align: right;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: white;
  color: black;
}